OPENAI_API_KEY=Your Key here

FIREBASE_API_KEY=Your Key here
FIREBASE_AUTH_DOMAIN=Your Key here
FIREBASE_PROJECT_ID=Your Key here
FIREBASE_STORAGE_BUCKET=Your Key here
FIREBASE_MESSAGING_SENDER_ID=Your Key here
FIREBASE_APP_ID=Your Key here
